/* Empty. Add your own CSS if you like */
.updateBackgroundColor {
    background-color: #33ccff;
}

h3 {
    color:white;
}

.ion-navicon
{
    box-shadow: 0px 0px 5px #fff;
    -webkit-animation: glow 3s ease-in-out infinite;
    animation: glow 3s ease-in-out infinite;
}

@-webkit-keyframes glow 
{
  50% { box-shadow: 0 0 20px #fff; }
}